
@model IEnumerable<Job>

@{
}

<div class='col-12 col-md-3 col-xl-2 bd-sidebar bg-dark pt-3 pb-3'>
    <ul class="list-group">
        @foreach (var job in Model)
        {
            <li class="list-group-item list-group-item-short-list" active-url="Details/@(job.JobId)" comparer-mode="endswith">
                <a class="text-white" asp-controller="Jobs" asp-action="Details" asp-route-id="@job.JobId" title="@job.Title - @job.Reference">
                    <i class="fa fa-briefcase pr-2"></i>@job.Title - @job.Reference
                </a>
            </li>
        }
    </ul>
</div>
